## Data Types and Structures

# Q1 What are data structures, and why are they important?
"""Ans:
data structures is way of organizing and storing data. And it is important because it can be accessesd and manipulated efficiently. """

# Q2  Explain the difference between mutable and immutable data types with examples?
"""Ans:
-mutable data types can be changed after creation .
eg; lists,sets,and dicionary are the mutable data types.
-immutable data types cannot be changed after creation.
eg; tuples,string,and integer are the immutable data types. """

# Q3 What are the main differences between lists and tuples in Python?
""" Ans: In python the main difference between lists and tuples is lists are mutable and it is modified after creation, while tuples are immutable and cannot be modified after creation."""

# Q4  Describe how dictionaries store data?
"""Ans:Dictionary is data structure that stores data as key value pair."""

# Q5 Why might you use a set instead of a list in Python?
"""Ans: we use set instead of list in python because sets are unordered and unique collection of elements that does not allow duplicate elements."""

# Q6 What is a string in Python, and how is it different from a list?
"""Ans: string is a sequence of character which represent and manipulate textual data,while list is an ordered collection of elements that can be of any data type."""


# Q7 How do tuples ensure data integrity in Python?
"""Ans: tuples ensure immutability and it is ordered collection of elements also heterogeneous in nature."""

# Q8 What is a hash table, and how does it relate to dictionaries in Python?
"""Ans: A hash table is a data structure that allows for efficient key-value pair storage."""

# Q9 Can lists contain different data types in Python?
"""Ans: Yes, lists can contain any data types in python."""

# Q10 Explain why strings are immutable in Python?
"""Ans: due to efficiency and performance string are immutable in python."""

# Q11 What advantages do dictionaries offer over lists for certain tasks?
"""Ans: many advantages like assign values to their key, no indexing,Can Be Any Hashable Object,and unordered nature of dictionary."""

# Q12 Describe a scenario where using a tuple would be preferable over a list?
"""Ans: A situation where we want proper user id  and that cannot be changed after creation."""

# Q13 How do sets handle duplicate values in Python?
"""Ans: sets are unordered and unique collection of elements so it will convert duplicate values into unique values."""

# Q14 How does the “in” keyword work differently for lists and dictionaries?
"""Ans: in keyword checks whether elements are there or not in lists and key in dictionary."""

# Q15 Can you modify the elements of a tuple? Explain why or why not?
"""Ans: No,we cannot modify the elements of tuple because it is immutable."""

# Q16 What is a nested dictionary, and give an example of its use case?
"""Ans: A nested dictionary is a dictionary in Python where the value associated with a key is another dictionary."""

# Q17 Describe the time complexity of accessing elements in a dictionary?
"""Ans:

# Q18 In what situations are lists preferred over dictionaries?
"""Ans: when we to modify the variable and we want ordered output at that situation we use lists over dictionary."""

# Q19 Why are dictionaries considered unordered, and how does that affect data retrieval?
"""Ans: because keys are unique and immutable."""

# Q20 Explain the difference between a list and a dictionary in terms of data retrieval?
"""Ans:The key difference between a list and a dictionary in Python, in terms of data retrieval, lies in how they store and access data."""

In [1]:
# Write a code to create a string with your name and print it
name="patel hetkumar alpeshbhai."
print(name)

patel hetkumar alpeshbhai.

In [2]:
#Write a code to find the length of the string "Hello World".
a="Hello World"
len(a)

11

In [4]:
#Write a code to slice the first 3 characters from the string "Python Programming".
b="Python Programming"
b[0:3]

'Pyt'

In [5]:
#Write a code to convert the string "hello" to uppercase
c="hello"
c.upper()

'HELLO'

In [7]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
d="I like apple"
d.replace("apple","orange")

'I like orange'

In [10]:
#Write a code to create a list with numbers 1 to 5 and print it.
e=[1,2,3,4,5]
print(e)

[1, 2, 3, 4, 5]

In [12]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
f=[1,2,3,4]
f.append(10)
f

[1, 2, 3, 4, 10]

In [15]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
g=[1,2,3,4,5]
g.remove(3)
g

[1, 2, 4, 5]

In [16]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
h=['a','b','c','d']
h[1]

'b'

In [18]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
i=[10, 20, 30, 40, 50]
i.reverse()
i

[50, 40, 30, 20, 10]

In [19]:
# Write a code to create a tuple with the elements 10, 20, 30 and print it.
j=(10,20,30)
print(j)

(10, 20, 30)

In [20]:
# Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
k=('apple', 'banana', 'cherry')
k[0]

'apple'

In [21]:
#Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
l= (1, 2, 3, 2, 4, 2)
l.count(2)

3

In [23]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
m=('dog', 'cat', 'rabbit')
m.index("cat")

1

In [28]:
# Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
n= ('apple', 'orange', 'banana')

if  "banana" in n:
  print("yes" )
else:
  print("no")

yes

In [29]:
# Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
o={1,2,3,4,5}
print(o)

{1, 2, 3, 4, 5}

In [30]:
#Write a code to add the element 6 to the set {1, 2, 3, 4}
p={1, 2, 3, 4}
p.add(6)
p

{1, 2, 3, 4, 6}